html,#app,body{
    height: 100%;
    width: 100%;
    margin: 0;
}


.el-space:focus{
    outline: none;
}

.el-dropdown-link:focus{
    outline: none;
}
body {
    background-color: #eff3f5 !important;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif !important;
    color: #495060 !important;
    font-size: 12px !important;
}

.el-menu--popup{
    min-width: 120px!important;
}